---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "About me"

const info = {
  firstName: "Reinaldo",
  country: "Brazil",
  occupation: "Unemployed",
  hobbies: ["Music Production", "Design", "Game"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];
const borderColor = "#f1f1f1";
---
<BaseLayout pageTitle={pageTitle}>
	<h2>Hi, I'm {info.firstName}</h1>
    <h3>I live in {info.country} and am currently {info.occupation}</h2>
    <ul>
        <li><h4>My skills are: </h4></li>
        {skills.map(skill => <li class="skill">{skill}</li>)}
    </ul>
    <ul>
        <li><h4>I have as hobbies: </h4></li>
        {info.hobbies.map(hobbie => <li>{hobbie}</li>)}
    </ul>
</BaseLayout>

<style define:vars={{borderColor}}>
    h1 {
      color: purple;
      font-size: 4rem;
    }
    .skill {
        padding: 0.5rem 0.75rem;
        border: 0.125rem solid var(--borderColor);
        border-radius: 0.125rem;
        max-width: fit-content;
    }

    .skill:not(:first-child) {
        margin-top: 0.5rem;
    }
  </style>
